/man.py
/test.py
/~$日志-陈星宇-0714.docx
/实习日志-陈星宇-0707.docx
/实习日志-陈星宇-0714.docx
/实习日志-陈星宇-0714.md
/实习日志-陈星宇-0715.md
/工作任务跟踪表-陈星宇-0707.csv
/工作任务跟踪表-陈星宇-0714.csv
/工作任务跟踪表-陈星宇-0715.csv
实习日志-陈星宇-0715.docx
~$日志-陈星宇-0715.docx
实习日志-陈星宇-0718.md
工作任务跟踪表-陈星宇-0718.csv
backend/__pycache__/database.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
backend/__pycache__/mcp_agent.cpython-313.pyc
